<h1>Folders</h1>
<%= link_to 'New Folder', new_folder_path, class:'btn btn-primary' %>
<ul class="list-group">
  <% @folders.each do |folder| %>
    <li class="list-group-item d-flex align-items-center">
      <div class="mr-auto p-2">
        <span class="badge badge-primary badge-pill"><%= folder.notes.size %></span>
        <%= folder.name %>
      </div>
      <div class="p-2">
        <%= link_to 'Notes', folder_notes_path(folder.id), class:'btn btn-success' %>
        <%= link_to 'Change Name', edit_folder_path(folder.id), class:'btn btn-secondary' %>
        <%= link_to "Delete", folder_path(folder), :method => :delete, class:'btn btn-danger' %>
      </div>
    </li>
  <% end %>
</ul>
