<!DOCTYPE html>
<html>
  <head>
    <title>Evernote</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>  
    <%= react_component('Navbar') %>
    
    <div class="container main">
      <% if flash[:notice] %>
        <div class="alert alert-primary" role="alert"><%= flash[:notice] %></div>
      <% end %>
      <%= yield %>
    </div>
    
  </body>
</html>
